/*Search bar*/
.filterShop {
  margin-bottom: 15px;
}

.searchBox {
  max-width: 170px;
}

h4.headerFilters {
  text-align: left;
}

form.form-inline {
  justify-content: center;
  margin-bottom: 2.5%;
}

/*Card deck items*/
.card-deck .card {
  margin-bottom: 30px !important;
}

@media (min-width: 575px) {
  .card-deck .card {
    min-width: 150px;
  }
}
