#cartWrapper {
  text-align: left;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  text-align: center;
}

span.badge.badge-pill.badge-danger {
  cursor: pointer;
}

/*Arrow up/dowm*/
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  margin: 0px 8px 0px 8px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
