.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerOpen-134.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  margin-top: 65px;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerClose-135.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  margin-top: 65px;
}

.makeStyles-menuButton-131 {
  margin-right: 20px;
}

@media only screen and (max-width: 400px) {
  .makeStyles-menuButton-131 {
    margin-right: 10px;
  }
}
